@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap');
@import '../lib/css/bootstrap.min.scss';
@import '../css/font.scss';

$white: #FFFFFF;
$black: #000000;
$orange: #F37021;
$dark-bg: #05080C;
$dark-border: #22252B;
$grey: #6D655D;
$dark-grey: #33302D;
$light-grey: #B1A395;

*{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $dark-bg;
    overscroll-behavior: none;
}

.wrapper-site{
    position: relative;
}

.noise{
    opacity: .10;
    pointer-events: none;
    mix-blend-mode: overlay;
    background-image: url(../public/images/noise.png);
    background-position: 0 0;
    background-size: 50%;
    position: absolute;
    inset: 0%;
    z-index: 9999;
}

.container{
    max-width: 1290px;
    position: relative;
    z-index: 1;
}

a{
    text-decoration: none;
    transition: all .4s ease-in-out;
    &:hover{
        text-decoration: none;
        color: $orange;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6{
    font-family: "Questrial", sans-serif;
}

h1, .h1{
    font-size: 56px;
    line-height: 105%;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: $white;
    margin-bottom: 20px;
    @media (max-width: 767px){
        font-size: 40px;
    }
    @media (max-width: 575px){
        font-size: 32px;
    }
}

h2, .h2{
    font-size: 40px;
    line-height: 90%;
    font-weight: 800;
    letter-spacing: 0;
    color: $white;
    margin: 0;
    @media (max-width: 767px){
        font-size: 32px;
    }
    @media (max-width: 575px){
        font-size: 28px;
    }
}

h3, .h3{
    font-size: 30px;
    line-height: 120%;
    font-weight: 600;
    color: $white;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
    @media (max-width: 575px){
        font-size: 24px;
    }
}

h4, .h4{
    font-size: 24px;
    line-height: 90%;
    font-weight: 800;
    color: $white;
    letter-spacing: 0.05em;
    margin: 0;
    @media (max-width: 767px){
        font-size: 20px;
    }
}

h5, .h5{
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0.02em;
    margin: 0;
    @media (max-width: 575px){
        font-size: 16px;
    }
}

h6,
.h6,
.uppertitle{
    display: block;
    font-size: 10px;
    line-height: 140%;
    font-weight: 600;
    color: $orange;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media (max-width: 575px){
        font-size: 10px;
    }
}

p, .p{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: $light-grey;
    margin: 0;
    &.medium{
        font-size: 20px;
    }
    &.small{
        font-size: 12px;
    }
    a{
        font-weight: 600;
        color: $white;
    }
    @media (max-width: 575px){
        &.medium{
            font-size: 16px;
        }
    }
}

.button{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    padding: 11px 24px 10px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: $dark-bg;
        background-color: $orange;
    }
    &.secondary{
        color: $dark-bg;
        background-color: $orange;
        &:hover{
            color: $orange;
            background-color: transparent;
        }
    }
    &:focus{
        outline: 0;
        box-shadow: none;
    }
}

section{
    padding: 100px 0;
    position: relative;
}

[data-fade]{
    transform: translate(0px, 20px);
    opacity: 0;
}

nav{
    width: 100%;
    background-color: $dark-bg;
    padding: 18px 0;
    border-bottom: 1px solid $dark-border;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media(max-width: 575px){
        padding: 14px 0;
        .nav-container{
            img{
                max-width: 120px;
            }
            .button{
                font-size: 12px;
                padding: 10px 14px 9px;
            }
        }
    }
}

#hero{
    margin-top: 80px;
    background-image: url(../public/images/home-hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .inner-content{
        text-align: center;
        h1{
            max-width: 850px;
            margin: 0 auto 20px;
            span{
                background: -webkit-linear-gradient(360deg,#FFD6BD 0%, #F37223 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .wrapper-animation{
            max-width: 900px;
            position: relative;
            margin: 40px auto 0;
            canvas{
                width: 100%;
                position: relative;
                z-index: 1;
                border-radius: 12px;
                overflow: hidden;
            }
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $orange;
                filter: blur(100px);
                opacity: .15;
            }
        }
    }
    @media(max-width: 575px){
        margin-top: 64px;
        padding: 70px 0;
        .inner-content{
            .wrapper-animation{
                margin: 20px auto 0;
            }
        }
    }
}

footer{
    background: linear-gradient(180deg, #11161B 0%, #05080C 100%);
    .inner-footer-col{
        padding: 50px 0;
        margin: 30px 0;
        text-align: center;
        .inner-social{
            margin: 20px 0;
            a{
                color: $orange;
                &:hover{
                    color: $white;
                }
            }
        }
        .wrapper-form{
            max-width: 400px;
            margin: 0 auto;
            margin-top: 20px;
            position: relative;
            form{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                input:not(.button){
                    min-width: 250px;
                    border-radius: 4px;
                    background-color: $dark-bg;
                    border: 1px solid $dark-border;
                    padding: 10px 14px 9px;
                    color: $white;
                    font-size: 14px;
                    line-height: 152%;
                    transition: all .4s ease-in-out;
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.5);
                    }
                    &:hover,
                    &:focus-within,
                    &:focus{
                        outline: 0;
                        box-shadow: none;
                        border-color: $orange;
                    }
                }
                .button{
                    min-width: 132px;
                }
            }
            .success-form{
                display: none;
                position: absolute;
                inset: 0;
                background-color: $orange;
                border-radius: 4px;
                .inner-content{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        color: $dark-bg;
                        margin: 0px;
                    }
                }
                &.visible{
                    display: block;
                }
            }
        }
        &.with-border{
            border-right: 1px solid $dark-border;
        }
    }
    .inner-bottom-footer{
        padding: 20px 0;
        border-top: 1px solid $dark-border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inner-copyright{
            display: flex;
            align-items: center;
            gap: 12px;
            p{
                opacity: 50%;
            }
        }
        .inner-footer-links{
            display: flex;
            align-items: center;
            gap: 12px;
            span{
                font-weight: 800;
                color: $orange;
            }
            a{
                text-decoration: underline;
            }
        }
    }
    @media (max-width: 991px){
        .inner-footer-col{
            &.with-border{
                border-right: none;
                border-bottom: 1px solid $dark-border;
                padding-bottom: 80px;
            }
        }
    }
    @media (max-width: 575px){
        .inner-footer-col{
            padding: 50px 0;
            margin: 0;
            &.with-border{
                padding-bottom: 50px;
            }
            .wrapper-form{
                form{
                    input:not(.button){
                        min-width: auto;
                    }
                }
            }
        }
        .inner-bottom-footer{
            flex-direction: column;
            gap: 12px;
        }
    }
}

// About page
#hero.is-about{
    background: none;
    .inner-content{
        h1{
            max-width: 900px;
        }
        .wrapper-animation{
            max-width: 810px;
            margin-bottom: 0;
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $grey;
                filter: blur(100px);
                opacity: .25;
            }
        }
    }
    &::before{
        content: "";
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translateX(-50%);
        width: 50%;
        height: 40%;
        border-radius: 50%;
        background-color: $grey;
        filter: blur(100px);
        opacity: .15;
    }
    @media (max-width: 575px){
        padding-bottom: 40px;
    }
}

#about{
    background-color: #E8ECF1;
    background-image: url(../public/images/about-bg.png);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    .inner-content{
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        h2{
            color: $dark-bg;
        }
        hr{
            border-color: $orange;
            margin: 30px 0;
            opacity: 20%;
        }
        p{
            color: $dark-grey;
            margin-bottom: 10px;
            span{
                color: $orange;
            }
            strong{
                font-weight: 600;
            }
        }
    }
    .founder-area{
        position: relative;
        max-width: 1050px;
        margin: 70px auto 0;
        background-color: $white;
        border-radius: 12px;
        box-shadow: 0 60px 60px #8997a947, 0 30px 80px #8997a927, 0 10px 100px #8997a917;
        padding: 48px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        .inner-description{
            width: 100%;
            max-width: 650px;
            h3{
                color: $dark-bg;
            }
            p{
                color: $dark-grey;
                margin-bottom: 10px;
                strong{
                    font-weight: 600;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .inner-image{
            flex: 1;
            img{
                position: absolute;
                top: 30px;
                right: -10px;
                max-width: 405px;
                pointer-events: none;
            }
            div{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 12px;
                span{
                    margin-bottom: 0;
                }
            }
        }
        &::after{
            content: "";
            position: absolute;
            inset: 0;
            border: 1px solid $orange;
            border-radius: 6px;
            margin: 8px;
            pointer-events: none;
        }
    }
    @media (max-width: 991px){
        .founder-area{
            flex-direction: column;
            gap: 20px;
            .inner-description{
                max-width: 100%;
            }
            .inner-image{
                width: 100%;
                div{
                    justify-content: flex-start;
                }
                img{
                    display: none;
                }
            }
        }
    }
    @media (max-width: 575px){
        padding: 70px 0;
        .founder-area{
            padding: 30px;
        }
    }

}

#terms-body{
    background-color: $white;
    h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6{
        margin-top: 40px;
        color: $dark-bg;
    }
    p, .p{
        color: $dark-grey;
        margin-bottom: 12px;
    }
    @media (max-width: 575px){
        padding: 70px 0;
    }
}